body {
  background-color: #000000;
}

// Home

.home-image {
  filter: grayscale(100%);
  height: 150px;
  margin-right: 0;
  width: 250px;
}

.home-image:hover {
  filter: grayscale(0);
  height: 150px;
  margin-right: 0;
  width: 250px;
}

.home-section {
  background-color: #000000;
  height: 716px;
}

.home-title {
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 50px;
}

.home-shows {
  display: block;
  margin-top: 17px;
}

.home-shows, .home-login, .home-register {
  text-align: center;
}

.home-nav {
  position: absolute;
  bottom: 65px;
  a {
    border: 2px solid #ffffff;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    padding: 20px;
  }
  a:first-child {
    border-right: none;
  }
  a:last-child {
    border-top: none;
  }
  a:hover {
    background-color: #888888;
  }
}

.hero-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 618px;
  margin-bottom: 22px;
}

.hero-content {
  background: rgba(0, 0, 0, 0.8);
  float: right;
  height: 100%;
  padding: 5px 50px;
  width: 40%;
}

.hero-time, .hero-venue, .hero-description {
  color: #ffffff;
  float: right;
  text-align: right;
}

.hero-title p {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  padding-bottom: 20px;
}

.hero-details p {
  font-size: 20px;
  padding-top: 20px;
}

// Navbar

.navbar {
  background-color: #000000;
  a {
    color: #ffffff;
    font-size: 20px;
  }
  a:hover {
    background-color: #000000;
    color: #ffffff;
    text-decoration: underline;
  }
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
  }
}

#nav-item-1, #nav-item-2, #nav-item-3 {
  border-right: 2px solid #ffffff;
  margin: 20px 0;
}

// Index performance

.index-hero-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 354px;
  margin-bottom: 22px;
  position: relative;
}

.index-hero-content {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  height: 30%;
  padding: 10px 20px;
  position: absolute;
  width: 100%;
}

.index-hero-title {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  display: inline;
}

.index-hero-venue, .index-hero-time {
  color: #ffffff;
}

// New Performance

.field #search-input {
  margin-bottom: 20px;
}

// Show performance

.create-post-container {
  vertical-align: middle;
  position: relative;
}

.posts-container {
  border-right: 2px solid #ffffff;
  min-height: 200px;
}

.posts-container .title {
  text-align: center;
}

.posts-card, .new-form {
  background-color: #000000;
  color: #ffffff;
  // width: 400px;
}

.input, .select select, select {
  background-color: #000000;
  color: #ffffff;
  margin: 5px 0;
}

.input::-webkit-input-placeholder, .select select {
  color: #ffffff;
  opacity: 0.8;
}

.posts-info p {
  text-align: center;
}

.show-title, .posts-title {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  text-align: center;
  text-decoration: underline;
}

.show-title {
  font-size: 36px;
  text-align: left;
}

// Auth

.auth-card {
  background-color: #ffffff;
  padding: 50px 78px;
  margin: 18px 190px;
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding: 10px;
    text-align: right;
  }
  label {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
  }
  .input{
    background-color: #ffffff;
    color: #000000;
  }
}

.auth-section {
  background-color: #000000;
  height: 619px;
}
